<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Angular Test</title>
<style>
	input{
		margin:auto;
		display:block;
		font-size:1.25em;	
	}
	
	input.ng-valid{
		background:#0d0;
	}
	
	input.ng-invalid{
		background:#d00;	
	}
	
</style>
<script src="angular.min.js"></script>
</head>

<body>
	<div ng-app="angTest" ng-controller="angCont">
		<h3 style="text-align:center;">Red = Invalid, Green = Valid</h3>
		<form name="inpForm">
			<input type="text" name="First Name" ng-model="firstName" placeholder="First Name" required="required"/>
			<input type="text" name="Middle Name" ng-model="midName" placeholder="Middle Name" required="required"/>
			<input type="text" name="Last Name" ng-model="lastName" placeholder="Last Name" required="required"/>
			<input type="date" name="Date" ng-model="date" placeholder="Date" required="required"/>
			<input type="number" name="Number" ng-model="num" placeholder="Number" required="required"/>
			<input type="submit" ng-click="checkVals()"/>
		</form>
	</div>
	
	<script>
	var app = angular.module("angTest", []);
	app.controller('angCont', function($scope){
		$scope.checkVals = function(){
			var output = "";
			for(var key in $scope.inpForm)
			{
				if(key.charAt(0) == '$')
				{continue;}
				
				if(!$scope.inpForm[key].$valid)
				{output += "Invalid " + key + "\n";}
			}
	
			if(output.length > 0)
			{alert(output);}
			else
			{
				alert("All fields valid");
				//TOOD: submit to where?
			}
		};
	});

</script>

</body>

</html>
